{% extends 'dashboard.html' %}
{% block content %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Edit service</h1>
</div>

<div class="row align-items-center justify-content-center">
    <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12">
        <div class="card shadow mb-4 p-2">
            <div class="row">
                <div class="col-12 mb-3 mt-3">
                    <form method="POST" name="thisform" id="thisform" onsubmit="setVals()">
                        {% csrf_token %}
                        
                            <div class="form-group col-12 mb-4">
                              <label class="text ml-1" for="formname">Service name:</label>
                              <input type="text" class="form-control mb-2" name="formname" autofocus="" id="formname" required value="{{form.title}}">
                            </div>

                            <hr>
                            <div class="form-group col-12 mb-4">
                              <h5>Edit intake form for the service:</h5>
                            </div>

                        <div class="draggable-defaults">
                            {% for ordinfo in form.orderinfos.orderinfos %}
                                <div class="form-group form-check col-12 ml-4">
                                    <input type="checkbox" class="form-check-input mb-2" name="orderinfos" value="{{ordinfo}}"  id="{{ordinfo}}" checked>
                                    <label class="form-check-label" for="{{ordinfo}}">{{ordinfo|title}}</label>
                                    <div class="drgme" style="
                                        display: inline-block;
                                        margin-left: 75%; cursor: pointer;
                                    ">D</div>
                                </div>
                            {% endfor %}
                            {% for i in orderinfos_defaults %}
                                <div class="form-group form-check col-12 ml-4">
                                    <input type="checkbox" class="form-check-input mb-2" name="orderinfos" value="{{i}}"  id="{{i}}">
                                    <label class="form-check-label" for="{{i}}">{{i|title}}</label>
                                    <div class="drgme" style="
                                        display: inline-block;
                                        margin-left: 75%; cursor: pointer;
                                    ">D</div>
                                </div>
                            {% endfor %}
                        </div>

                            <hr>

                            <div class="form-group col-12 mb-4">
                                <label class="text ml-1" for="zapier_tag">Zapier tag: (optional)</label>
                                <input type="text" class="form-control mb-2" name="zapier_tag" id="zapier_tag" value="{{ form.zapier_tag }}">
                            </div>

                            <hr>

                            <div class="form-group col-12 mb-4 add_form_fields">
                                <button class="btn btn-primary p-0 crm-btn add_text_field" type="button"><i class="fa fa-plus align-middle"></i><span>Add text field</span></button>
                                <button class="btn btn-primary p-0 crm-btn add_checkbox_field" type="button"><i class="fa fa-plus align-middle"></i><span>Add checkbox field</span></button>
                                <button class="btn btn-primary p-0 crm-btn add_textarea" type="button"><i class="fa fa-plus align-middle"></i><span>Add large text field</span></button>
                                <button class="btn btn-primary p-0 crm-btn add_dropdown" type="button"><i class="fa fa-plus align-middle"></i><span>Add dropdown field</span></button>
                            </div>

                            <div class="col-12 mb-4 spe-container draggable">
                                {% for thing in things %}
                                {% if thing.type == 0 %}
                                <div class="form-group col-12 m-2 p-2 card mb-4 shadow tosendgroup"><label class="text ml-1">Title:</label><input type="text" class="form-control mb-2" name="textfield" value="{{ thing.title }}" required><a href="#" class="delete">Delete</a></div>
                                {% elif thing.type == 1 %}
                                <div class="form-group col-12 m-2 p-2 mb-4 card shadow tosendgroup">
                                    <label class="text ml-1">Checkbox field. Title:</label>
                                    <input type="text" class="form-control mb-2" name="checkboxname" value="{{ thing.title }}" required>
                                    <div class="checkboxes">
                                        <label class="text ml-1">Checkbox:</label>
                                        <br>
                                        <a href="#" class="addcheckbox">Add checkbox</a>
                                        {% for x in thing.items %}
                                            <div class="checkbox m-2 p-2 card">
                                                <input type="text" class="form-control mb-2 col-10" name="checkboxitem" value="{{ x }}" required>
                                                <a href="#" class="delete">Delete checkbox</a>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <a href="#" class="delete">Delete group</a>
                                </div>
                                {% elif thing.type == 3 %}
                                <div class="form-group col-12 m-2 p-2 card mb-4 shadow tosendgroup"><label class="text ml-1">Text area title:</label><input type="text" class="form-control mb-2" name="textarea" value="{{ thing.title }}" required><a href="#" class="delete">Delete</a></div>
                                {% elif thing.type == 4 %}
                                <div class="form-group col-12 m-2 p-2 card mb-4 shadow tosendgroup">
                                    <label class="text ml-1">Dropdown title:</label>
                                    <input type="text" class="form-control mb-2" name="dropdownname" value="{{ thing.title }}" required>
                                    <div class="dropdown_items">
                                        <label class="text ml-1">Checkbox:</label>
                                        <br>
                                        <a href="#" class="adddropdownitem">Add dropdown item</a>
                                        {% for x in thing.items %}
                                            <div class="dropdown_item m-2 p-2 card">
                                                <input type="text" class="form-control mb-2 col-10" name="dropdownitem" value="{{ x }}" required>
                                                <a href="#" class="delete">Delete dropdown item</a>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <a href="#" class="delete">Delete group</a>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>

                            <input type="hidden" name="totalcount" id="totalcount">
                        
                            <div class="d-flex flex-row">
                                <button class="btn btn-primary border-0 ml-3 mt-2 p-0 crm-btn">
                                  <i class="fa fa-share align-middle"></i>
                                  <span class="align-middle">Submit</span>
                                </button>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_script %}
{% load static %}
<script src="{% static "/js/createform.js"%}"></script>
<script src="{% static "/vendor/sortablejs/sortable.min.js"%}"></script>
<script src="{% static "/js/custom/selectsize_edit_package.js"%}"></script>

{% endblock %}