{% extends 'dashboard.html' %}
{% block extra_head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "/vendor/datatables/dataTables.bootstrap4.min.css"%}">
{% endblock %}
{% block content %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">All services</h1>
    <a href="/dashboard/admin/services/create/" class="btn text btn-primary ml-3 p-0 crm-btn">
        <i class="fa fa-plus align-middle"></i>
        <span class="align-middle">Add service</span>
    </a>
</div>

<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table id="dataTable" width="100%" cellspacing="0" class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col" class="sortable">Service name</th>
                        <th scope="col" class="sortable">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for form in forms %}
                    <tr>
                        <th scope="col" class="sortable">{{ form.title }}</th>
                        <th scope="col" class="sortable">
                            <a href="/dashboard/admin/services/edit/{{ form.id }}/" title="Edit this form" class="mr-1"><i class="fa fa-pencil-alt"></i></a>
                            <a href="/dashboard/admin/services/remove/{{ form.id }}/" title="Remove this form" class="mr-1"><i class="fa fa-trash"></i></a>
                        </th>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_script %}
{% load static %}
<script src="{% static "/vendor/datatables/jquery.dataTables.min.js"%}"></script>
<script src="{% static "/vendor/datatables/dataTables.bootstrap4.min.js"%}"></script>
<script src="{% static "/js/datatables.js"%}"></script>
{% endblock %}