<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  {% load custom_tags %}

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% get_settings 'APP_NAME' %}</title>

  <link rel="shortcut icon" href="{% static "/img/ico/favicon.svg" %}">
  <link rel="stylesheet" type="text/css" href="{% static "/vendor/fontawesome-free/css/all.min.css"%}">
  <link rel="stylesheet" href="{% static '/css/styles.min.css' %}">
</head>

<body>
  <div class="crm-container">
    {% block auth %} {% endblock auth %}

    {% block dashboard-content %} {% endblock dashboard-content %}
  </div>

  {% include 'util/flash_msg.html' %}

  <script src="{% static '/js/main.min.js' %}"></script>
  {% block extra-scripts %} {% endblock extra-scripts %}
</body>

</html>