{% extends 'base.html' %}

{% block auth %}
{% load i18n %}
{% language 'en' %}
<section class="crm-login">
  <div class="crm-login__bg"></div>
  <div class="crm-login__form-container">
    <form method="POST" class="crm-login__form" action="">
      {% csrf_token %}
      <h2 class="crm-login__form-header">Log in to your account</h2>
      <div class="crm-login__form-group">
        <label class="crm-login__form-label" for="">E-mail</label>
        <input class="crm-login__form-input" type="email" name="email" autocapitalize="off" autocorrect="off" autocomplete="email"
          autofocus="autofocus">
      </div>

      <div class="crm-login__form-group">
        <label class="crm-login__form-label" for="">Password</label>
        <input class="crm-login__form-input" type="password" name="password" autocomplete="current-password">
      </div>

      <button class="crm-login__form-submit" type="submit">Sign in <i class="fas fa-arrow-right"></i></button>
    </form>
    <div class="crm-login__form-nav">
      <a href="/reset_password" class="crm-login__form-forgot">Forgot password?</a>
      <a href="/signup" class="crm-login__form-register">Create an account</a>
    </div>
  </div>
</section>
{% endlanguage %}
{% endblock %}