<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>

    {% load static %}
    <link rel="stylesheet" href="{% static "/css/signin.css" %}">
    <link rel="shortcut icon" href="{% static "/img/ico/favicon.svg" %}">
    <link rel="stylesheet" type="text/css" href="{% static "/vendor/fontawesome-free/css/all.min.css"%}">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static "/css/custom.css"%}">
</head>
<body>
    <div class="card">
        {% if messages %}
                    {% for msg in messages %}
                            <div class="alert {{ msg.tags }} alert-dismissible fade show w-100" role="alert">
                                {{ msg }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                    {% endfor %}
                {% endif %}
        <h1 class="sign-in">Reset password</h1>
        <div class="login-card">
            <form method="POST" action="" class="login-form">
                {% csrf_token %}
                <div class="form-group">
                    <div class="form-item">
                        <label for="email" class="input-label">Email</label>
                        <input type="text" name="email" class="input-field" autocapitalize="off" autocorrect="off" autocomplete="email" autofocus="autofocus">
                    </div>
                    <div class="form-item">
                        <button type="submit" class="submit-button">Reset password</button>
                    </div>

                    <small><a href="/login/" class="register-link-a">Back to login</a></small>
                </div>
            </form>
        </div>
    </div>

<script src="{% static "/vendor/jquery/jquery.min.js"%}"></script>
<script src="{% static "/vendor/bootstrap/js/bootstrap.bundle.min.js"%}"></script>

{% block extra_script %}{% endblock %}
</body>
</html>