<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>

    {% load static %}
    <link rel="stylesheet" href="{% static "/css/signin.css" %}">
    <link rel="shortcut icon" href="{% static "/img/ico/favicon.svg" %}">
</head>
<body>
    <div class="card">
        <div class="login-card">
            <form method="POST" action="" class="login-form">
                {% csrf_token %}
                <div class="form-group">
                    <div class="form-item">
                        <label for="email" class="input-label">Email</label>
                        <input type="text" name="email" class="input-field" autocapitalize="off" autocorrect="off" autocomplete="email" autofocus="autofocus" required>
                    </div>
                    <div class="form-item">
                        <button type="submit" class="submit-button">Re-send activation link</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% if error_message %}
<script type="text/javascript">
alert("{{ error_message }}")
</script>
{% endif %}

<script src="{% static "/vendor/jquery/jquery.min.js"%}"></script>
<script src="{% static "/vendor/bootstrap/js/bootstrap.bundle.min.js"%}"></script>

{% block extra_script %}{% endblock %}
</body>
</html>