<nav class="sidebar collapsed">
  <ul class="sidebar__sections">
    <li class="sidebar__section">
      <a href="#" class="sidebar__logo">
        <img class="sidebar__logo-img" src="{% static '/img/searchmanager.png' %}" alt="Agency logo">
      </a>
    </li>
    <li class="sidebar__section">
      <h4 class="sidebar__header">Orders</h4>
      <ul class="sidebar__links">
        <li class="sidebar__link">
          <a href="#">
            <i class="fas fa-shopping-cart"></i>
            <span>All orders</span>
          </a>
        </li>
        <li class="sidebar__link sidebar__link--expandable">
          <a class="sidebar__link-a" href="#">
            <i class="fas fa-book-open"></i>
            <span>Templates</span>
          </a>
          <div class="sidebar__popup">
            <ul class="sidebar__popup-container">
              <li class="sidebar__popup-link"><a href="#">Tasks</a></li>
              <li class="sidebar__popup-link"><a href="#">Addons</a></li>
              <li class="sidebar__popup-link"><a href="#">Month</a></li>
              <li class="sidebar__popup-link"><a href="#">Statuses</a></li>
            </ul>
          </div>
        </li>
        <li class="sidebar__link sidebar__link--expandable">
          <a class="sidebar__link-a" href="#">
            <i class="fas fa-cog"></i>
            <span>Services</span>
          </a>
          <div class="sidebar__popup">
            <ul class="sidebar__popup-container">
              <li class="sidebar__popup-link"><a href="#">Tasks</a></li>
              <li class="sidebar__popup-link"><a href="#">Addons</a></li>
              <li class="sidebar__popup-link"><a href="#">Month</a></li>
              <li class="sidebar__popup-link"><a href="#">Statuses</a></li>
            </ul>
          </div>
        </li>
        <li class="sidebar__link sidebar__link--expandable">
          <a class="sidebar__link-a" href="#">
            <i class="fas fa-file"></i>
            <span>Forms</span>
          </a>
          <div class="sidebar__popup">
            <ul class="sidebar__popup-container">
              <li class="sidebar__popup-link"><a href="#">Tasks</a></li>
              <li class="sidebar__popup-link"><a href="#">Addons</a></li>
              <li class="sidebar__popup-link"><a href="#">Month</a></li>
              <li class="sidebar__popup-link"><a href="#">Statuses</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </li>
    <li class="sidebar__section">
      <h4 class="sidebar__header">Clients</h4>
      <ul class="sidebar__links">
        <li class="sidebar__link">
          <a href="#">
            <i class="fas fa-user"></i>
            <span>Clients</span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>