<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>

    {% load static %}
    <link rel="stylesheet" href="{% static "/css/signup.css" %}">
    <link rel="shortcut icon" href="{% static "/img/ico/favicon.svg" %}">
</head>
<body>
    <div class="card">
        <h1 class="sign-up">Sign up</h1>
        <div class="register-card">
            <form method="POST" action="" class="register-form">
                {% csrf_token %}
                <div class="form-group">
                    <div class="form-item">
                        <label for="first-name" class="input-label">First name</label>
                        <input type="text" name="first-name" class="input-field" autocapitalize="off" autocorrect="off" autocomplete="name" autofocus="autofocus" required>
                    </div>
                    <div class="form-item">
                        <label for="last-name" class="input-label">Last name</label>
                        <input type="text" name="last-name" class="input-field" autocapitalize="off" autocorrect="off" autocomplete="family-name">
                    </div>
                    <div class="form-item">
                        <label for="email" class="input-label">Email</label>
                        <input type="email" name="email" class="input-field" autocapitalize="off" autocorrect="off" autocomplete="email" required>
                    </div>
                    <div class="form-item">
                        <label for="password" class="input-label">Password</label>
                        <input type="password" name="password" id="id_password1" class="input-field" minlength="6" autocomplete="new-password" required>
                    </div>
                    <div class="form-item">
                        <label for="password" class="input-label">Repeat password</label>
                        <input type="password" name="repeat-password" id="id_password2" class="input-field" minlength="6" autocomplete="new-password" required>
                    </div>
                    <div class="form-item">
                        <button type="submit" class="submit-button">Sign up</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

<script src="{% static "/js/matchpassword.js"%}"></script>
{% if error_message %}
<script type="text/javascript">
alert("{{ error_message }}")
</script>
{% endif %}
</body>
</html>