{% extends 'dashboard.html' %}
{% block content %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Create package</h1>
</div>

<div class="row align-items-center justify-content-center">
    <div class="col-xl-8 col-lg-10 col-md-10 col-sm-12">
        <div class="card shadow mb-4 p-2">
            <div class="row">
                <div class="col-12 mb-3 mt-3">
                    <form method="POST">
                        {% csrf_token %}
                        
                            <div class="form-group col-12 mb-4">
                                <label class="text ml-1" for="title">Title:</label>
                                <input type="text" class="form-control mb-2" name="title" autofocus="" maxlength="500" id="title" required>
                            </div>

                            <div class="form-group col-12 mb-4">    
                                <label class="text ml-1" for="month">Number of months:</label>
                                <input type="number" min="1" class="form-control mb-2" name="month" id="month" required>
                            </div>

                            <div class="form-group col-12 mb-4">    
                                <label class="text ml-1" for="color">Color:</label>
                                <input type="color" name="color" value="#ffffff">
                            </div>

                            <div class="d-flex flex-row">
                                <button class="btn btn-primary border-0 ml-3 mt-2 p-0 crm-btn">
                                  <i class="fa fa-plus align-middle"></i>
                                  <span class="align-middle">Create</span>
                                </button>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_script %}
{% load static %}
<script src="{% static "/vendor/datatables/jquery.dataTables.min.js"%}"></script>
<script src="{% static "/vendor/datatables/dataTables.bootstrap4.min.js"%}"></script>
<script src="{% static "/js/datatables_template.js"%}"></script>
<script src="{% static "/js/dfilter_task_create.js"%}"></script>
{% endblock %}