img.profile-image {
  max-width: 150px;
  max-height: 150px;
}

img.agency-logo {
  max-width: 200px;
  max-height: 68px;
  object-fit: contain;
}

div.agency-name {
  max-width: 200px;
  max-height: 68px;
  overflow: hidden;
  text-overflow: ellipsis;
}