body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F9FAFB;
}

.card {
    width: 310px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sign-in {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    color: #3e3e3e;
    margin: 10px 0;
}

.login-card {
    width: 100%;
    padding: 1rem 0 1rem 0;
    background-color: #ffffff!important;
    box-shadow: 0 2px 28px 0 #3a3b4526!important;
    border-radius: 8px;
}

.confirm-card {
    width: 100%;
    text-align: center;
}

.login-form {
    width: 100%;
    height: 100%;
}

.form-group {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 0;
}

.input-label {
    color: #252525;
    font-size: 14px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 5px 2px;
}

.input-field {
    width: 250px;
    height: 30px;
    border-radius: 5px;
    border: none;
    box-shadow: inset 0 2px 34px 0 #3a3b4526!important;
    padding: 1px 10px;
}

.submit-button {
    width: 270px;
    height: 32px;
    border-radius: 5px;
    border: none;
    background-color: #4165d1;
    color: #eaeaea;
    font-size: 13px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    letter-spacing: 0.5px;
    transition: 0.3s;
    margin-bottom: 1rem;
}

.submit-button:hover {
    background-color: #2e59d9;
}

.submit-button:active {
    background-color: #2e59d9;
}

.register-card {
    width: 100%;
    height: 60px;
    margin: 20px 0;
    border: #d0d0d0 1px solid;
    border-radius: 8px;
}

.register-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-link-a {
    color: #0077ff;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.register-link-a:hover {
    text-decoration: underline;
}

.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.35rem;
    font-family: Arial, Helvetica, sans-serif;
}

.alert-heading {
    color: inherit;
}

.alert-link {
    font-weight: 700;
}

.alert-dismissible {
    padding-right: 4rem;
}

.alert-dismissible .close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    color: inherit;
    font-size: 1.5rem;
    background: none;
    border: none;
}

.alert-primary {
    color: #293c74;
    background-color: #dce3f9;
    border-color: #cdd8f6;
}

.alert-primary hr {
    border-top-color: #b7c7f2;
}

.alert-primary .alert-link {
    color: #1c294e;
}

.alert-secondary {
    color: #45464e;
    background-color: #e7e7ea;
    border-color: #dddde2;
}

.alert-secondary hr {
    border-top-color: #cfcfd6;
}

.alert-secondary .alert-link {
    color: #2d2e33;
}

.alert-success {
    color: #0f6848;
    background-color: #d2f4e8;
    border-color: #bff0de;
}

.alert-success hr {
    border-top-color: #aaebd3;
}

.alert-success .alert-link {
    color: #093b29;
}

.alert-info {
    color: #1c606a;
    background-color: #d7f1f5;
    border-color: #c7ebf1;
}

.alert-info hr {
    border-top-color: #b3e4ec;
}

.alert-info .alert-link {
    color: #113b42;
}

.alert-warning {
    color: #806520;
    background-color: #fdf3d8;
    border-color: #fceec9;
}

.alert-warning hr {
    border-top-color: #fbe6b1;
}

.alert-warning .alert-link {
    color: #574516;
}

.alert-danger {
    color: #78261f;
    background-color: #fadbd8;
    border-color: #f8ccc8;
}

.alert-danger hr {
    border-top-color: #f5b7b1;
}

.alert-danger .alert-link {
    color: #4f1915;
}

.alert-light {
    color: #818183;
    background-color: #fefefe;
    border-color: #fdfdfe;
}

.alert-light hr {
    border-top-color: #ececf6;
}

.alert-light .alert-link {
    color: #686869;
}

.alert-dark {
    color: #2f3037;
    background-color: #dedee1;
    border-color: #d1d1d5;
}

.alert-dark hr {
    border-top-color: #c4c4c9;
}

.alert-dark .alert-link {
    color: #18181c;
}
