{% extends 'dashboard.html' %}
{% block extra_head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "/vendor/datatables/dataTables.bootstrap4.min.css"%}">
<link rel="stylesheet" type="text/css" href="{% static "/css/allorders.css"%}">
{% endblock %}
{% block content %}
{% load custom_tags %}
{% load i18n %}
{% language 'en' %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    {% if request.user.is_staff %}
        <h1 class="h3 mb-0 text-gray-800">All orders</h1>
        <a class="btn btn-primary" href="/dashboard/admin/create" role="button">Add order</a>
    {% else %}
        <h1 class="h3 mb-0 text-gray-800">My orders</h1>
        <a class="btn btn-primary" href="/dashboard/user/create" role="button">Add order</a>
    {% endif %}
</div>

<div class="card shadow mb-4">
    <div class="card-body">

        <form action="" method="GET" id="search_order" class="mb-4">

        <div class="row">
            <div class="col-4">
                <div class="input-group input-group-sm mb-1">
                    <div class="input-group-prepend w-25">
                        <label class="input-group-text w-100" for="select_package">Package</label>
                    </div>
                    <select class="custom-select" id="select_package" name="select_package">
                        <option value="">All</option>
                        {% for package in packages %}
                        <option value="{{ package.id }}" {% if package.id in request.session.select_package %}selected="selected"{% endif %}>{{ package.title }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="input-group input-group-sm mb-1">
                    <div class="input-group-prepend w-25">
                        <label class="input-group-text w-100" for="select_addon">Addon</label>
                    </div>
                    <select class="custom-select" id="select_addon" name="select_addon">
                        <option value="">All</option>
                        {% for addon in addons %}
                        <option value="{{ addon.id }}" {% if addon.id in request.session.select_addon %}selected="selected"{% endif %}>{{ addon.title }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="col-4">
                <div class="input-group input-group-sm mb-1">
                    <div class="input-group-prepend w-25">
                        <label class="input-group-text w-100" for="select_status">Status</label>
                    </div>
                    <select class="custom-select" id="select_status" name="select_status">
                        <option value="">All</option>
                        {% for status in statuses %}
                        <option value="{{ status.id }}" {% if status.id in request.session.select_status %}selected="selected"{% endif %}>{{ status.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="input-group input-group-sm mb-1">
                    {% if request.user.is_staff %}
                    <div class="input-group-prepend w-25">
                        <label class="input-group-text w-100" for="select_user">Client</label>
                    </div>
                    <select class="custom-select" id="select_user" name="select_user">
                        <option value="">All</option>
                        {% for user in users %}
                        <option value="{{ user.id }}" {% if user.id in request.session.select_user %}selected="selected"{% endif %}>{{ user.first_name }} {{ user.last_name }}</option>
                        {% endfor %}
                    </select>
                    {% endif %}
                </div>
            </div>

            <div class="col-4">
                <div class="input-group input-group-sm mb-1">
                    <div class="input-group-prepend w-25">
                        <span class="input-group-text w-100" id="month">Month</span>
                    </div>
                    <input type="number" min="0" class="form-control" name="month" value="{{ request.session.month }}">
                </div>
                <div class="input-group-prepend">
                    <a class="btn btn-outline-secondary btn-sm col-6" href="/dashboard/admin/cleanfilters/" role="button">Reset filter</a>
                    <button class="btn btn-primary btn-sm col-6" type="submit" form="search_order">Search</button>
                </div>
            </div>
        </div>
        <label for="">
            Show archived
            <input type="checkbox" name="show_archived" id="show_archived" {% if request.session.show_archived %}checked{% endif %}>
        </label>
        </form>

        <div class="table-responsive">
            <table id="dataTable" width="100%" cellspacing="0" class="table table-bordered table-sm" style="text-align: center;">
                <thead>
                    <tr>
                        <th scope="col" class="sortable">Order #</th>
                        <th scope="col" class="sortable">Client</th>
                        <th scope="col" class="sortable">Company name</th>
                        <th scope="col" class="sortable">Status</th>
                        <th scope="col" class="sortable">Month</th>
                        <th scope="col" class="sortable">Package</th>
                        <th scope="col" class="sortable">Addon</th>
                        <th scope="col" class="sortable">Actions</th>
                    </tr>
                </thead>
                
                <tbody>
                    {% for order in orders %}
                    <tr>
                        <td scope="col" class="sortable">{{ order.order }}</td>
                        <td scope="col" class="sortable">{{ order.owner.first_name }}</td>
                        <td scope="col" class="sortable">{{ order.company_name }}</td>
                        <td scope="col" class="sortable">{% if order.status.name == None %}{%else%}<span style="display: block; background-color: {{ order.status.color }};">{{ order.status.name }}</span>{% endif %}</td>
                        <td scope="col" class="sortable">{{ order.month }}</td>
                        <td scope="col" class="sortable">{% if order.package == None %}{%else%}<span style="display: block; background-color: {{ order.package.template.color }};">{{ order.package }}</span>{% endif %}</td>
                        <td scope="col" class="sortable">{% if order.addon == None %}{%else%}{% for add in order.addon.all %}<span style="display: block; margin: 1px; background-color: {{ add.template.color }};">{{ add.template.title }}</span>{% endfor %}{% endif %}</td>
                        <td scope="col" class="sortable">
                            {% if request.user.is_staff %}
                            <a href="/dashboard/admin/editinfo/{{ order.id }}/" title="Intake form" class="mr-1"><i class="fa fa-pencil-alt"></i></a>
                            <a href="/dashboard/admin/edit/{{ order.id }}/" title="Edit order" class="mr-1"><i class="fa fa-edit"></i></a>
                            <a href="/dashboard/admin/{{ order.id }}/deliverables/" title="Deliverables" class="mr-1"><i class="fa fa-file"></i></a>
                            <a href="/dashboard/admin/{{ order.id }}/deliverables/form/all/" title="Send to Zapier" class="mr-1"><i class="fa fa-paper-plane"></i></a>
                            {% else %}
                            <a href="/dashboard/user/edit/{{ order.id }}/" title="Intake form" class="mr-1"><i class="fa fa-pencil-alt"></i></a>
                            <a href="/dashboard/admin/{{ order.id }}/deliverables/" title="Deliverables" class="mr-1"><i class="fa fa-file"></i></a>
                            {% endif %}
                            <a 
                                href="/dashboard/chatroom/{{ order.id }}/"
                                title="Messages"
                                class="mr-1 {% if order.id in unread_messages %} text-danger{% endif %}"
                                >
                                    <i class="fa fa-envelope"></i>
                            </a>
                            
                            {% if order.link1 %}<a href="{{ order.link1 }}" target="_blank" title="google drive" class="mr-1" ><i class="fab fa-google-drive"></i></a>{% endif %}
                            {% if order.link2 %}<a href="{{ order.link2 }}" target="_blank" title="trello card" class="mr-1" ><i class="fab fa-trello"></i></a>{% endif %}
                            {% if order.link3 %}<a href="{{ order.link3 }}" target="_blank" title="workbook" class="mr-1" ><i class="fas fa-table"></i></a>{% endif %}
                            {% if order.link4 %}<a href="{{ order.link4 }}" target="_blank" title="rank tracker" class="mr-1" ><i class="fas fa-chart-area"></i></a>{% endif %}
                            
                            {% if order.is_archived %}
                            <a href="/dashboard/admin/delete/{{ order.id }}/" title="Delete order" class="mr-1"><i class="fa fa-trash"></i></a>
                            {% else %}
                            <a href="/dashboard/admin/cancel/{{ order.id }}/" title="Archive order" class="mr-1"><i class="fa fa-archive"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endlanguage %}
{% endblock %}
{% block extra_script %}
{% load static %}
<script src="{% static "/vendor/datatables/jquery.dataTables.min.js"%}"></script>
<script src="{% static "/vendor/datatables/dataTables.bootstrap4.min.js"%}"></script>
<script src="{% static "/js/datatables.js"%}"></script>
{% endblock %}