{% extends 'dashboard.html' %}
{% block extra_head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "/vendor/datatables/dataTables.bootstrap4.min.css"%}">
<link rel="stylesheet" type="text/css" href="{% static "/css/deliverables.css"%}">
{% endblock %}
{% block content %}
{% load custom_tags %}
{% load i18n %}
{% language 'en' %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Deliverables</h1>
</div>

<div class="card shadow mb-4">
    <div class="card-body">
        <div class="form-group col-12 mb-4">

            <div class="order-navigation d-flex justify-content-between">
        
                <div class="order-title" style="max-width: 100px; width: 100%;">
                  <h5>Order info:</h5>
                </div>
                
                {% if not white_label %}
                <div class="order-links" style="font-size: 20px; text-align: right;">        
                  {% if not request.user.is_client %}
                    <a href="/dashboard/admin/editinfo/{{ order.id }}/" class="btn btn-primary border-0 p-0">
                        <i class="fa fa-pencil-alt align-middle" aria-hidden="true"></i>
                        <span class="align-middle">Intake Form</span>
                    </a>


                    <a href="/dashboard/admin/edit/{{ order.id }}/" class="btn btn-primary border-0 p-0">
                      <i class="fa fa-edit align-middle" aria-hidden="true"></i>
                      <span class="align-middle">Edit order</span>
                    </a>
                  {% else %}
                    <a href="/dashboard/user/edit/{{ order.id }}/" class="btn btn-primary border-0 p-0">
                        <i class="fa fa-edit align-middle" aria-hidden="true"></i>
                        <span class="align-middle">Intake Form</span>
                    </a>
                  {% endif %}
        
                  <a href="/dashboard/chatroom/{{ order.id }}/" class="btn btn-primary border-0 p-0">
                    <i class="fa fa-envelope align-middle" aria-hidden="true"></i>
                    <span class="align-middle">Messages</span>
                  </a>
                </div>
                {% endif %}
            </div>

            <hr class="sidebar-divider">

            {% block order-header %}
                {% include "../order-header.html" %}
            {% endblock %}
        </div>

        <div class="table-responsive">
            <table id="dataTable" width="100%" cellspacing="0" class="table table-bordered table-sm" style="text-align:center;">
                <thead>
                    <tr style="background-color:#F5F5F5;">
                        <th scope="col" class="sortable" style="width: 30%">Title</th>
                        <th scope="col" class="sortable" style="width: 10%">Start date</th>
                        <th scope="col" class="sortable" style="width: 10%">Completion date</th>
                        <th scope="col" class="sortable" style="width: 14%">Status</th>
                        <th scope="col" class="sortable" style="width: 14%">Notes</th>
                        {% if request.user.is_staff and not white_label %}
                            <th scope="col" class="sortable" style="width: 14%">Report link</th>
                            <th scope="col" class="sortable" style="width: 8%">Actions</th>
                        {% else %}
                            <th scope="col" class="sortable" style="width: 22%">Report link</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for m in month %}
                    <tr scope="col" style="background-color:#F5F5F5;"><td>MONTH {{ m }}</td><td></td><td></td><td></td><td></td><td></td>{% if request.user.is_staff and not white_label %}<td></td>{% endif %}</tr>
                    {% for t in task|dictsort:"ordering" %}
                    {% if t.month == m %}
                    <tr class="table">
                        <td scope="col" class="sortable" style="background-color:#F5F5F5;">{{ t.template_task.title }} <i class="fas fa-question-circle" data-toggle="tooltip" title="{{t.template_task.notes}}" style="color: #787878e8;"></i></td>
                        <td scope="col" class="sortable" style="background-color: {{ t.status.color }};">{% if t.start_date == None %}{%else%}{{ t.start_date|date:"M d, Y" }}{% endif %}</td>
                        <td scope="col" class="sortable" style="background-color: {{ t.status.color }};">{% if t.end_date == None %}{%else%}{{ t.end_date|date:"M d, Y" }}{% endif %}</td>
                        <td scope="col" class="sortable" style="background-color: {{ t.status.color }};">{{ t.status.name }}</td>
                        <td scope="col" class="sortable" style="background-color: {{ t.status.color }}; word-break: break-all;">{% if t.notes %}<div><p class="half-note m-0">{{ t.notes|slice:":20" }} <button href="#" class="show-hide-btn">more</button></p><p class="full-note m-0 d-none">{{ t.notes }} <button href="#" class="show-hide-btn">less</button></p></div>{% endif %}</td>
                        <td scope="col" class="sortable">
                            {% if t.report_link.all %}
                                {% if t.report_link.all|length > 1 %}
                                {% for link in t.report_link.all %}
                                    {% if link.link %}
                                        <a href="{{ link.link }}" target="_blank">{{forloop.counter}}</a>
                                    {% endif %}
                                {% endfor %}
                                {% else %}
                                    {% for link in t.report_link.all %}
                                        {% if link.link %}
                                            <a href="{{ link.link }}" target="_blank">View Report</a>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endif %}
                        </td>
                        {% if request.user.is_staff and not white_label %}
                            <td scope="col" class="sortable" ><a class="btn btn-primary btn-sm" style="min-width: 95px; width: 100%;" href="#" role="button"  data-toggle="modal" data-target="#taskModalP{{ t.id }}">Manage task</a></td>
                        {% endif %}
                    </tr>
                    {% endif %}
                    {% endfor %}
                    {% for addon in addons %}
                    {% for addontask in addon.tasks.all|dictsort:"ordering" %}
                    {% if addontask.month == m %}
                    <tr class="table">
                        <td scope="col" class="sortable" style="background-color:#F5F5F5;">{{ addontask.template_task.title }} <i class="fas fa-question-circle" data-toggle="tooltip" title="{{addontask.template_task.notes}}" style="color: #787878e8;"></i></td>
                        <td scope="col" class="sortable" style="background-color: {{ addontask.status.color }};">{% if addontask.start_date == None %}{%else%}{{ addontask.start_date|date:"M d, Y" }}{% endif %}</td>
                        <td scope="col" class="sortable" style="background-color: {{ addontask.status.color }};">{% if addontask.end_date == None %}{%else%}{{ addontask.end_date|date:"M d, Y" }}{% endif %}</td>
                        <td scope="col" class="sortable" style="background-color: {{ addontask.status.color }};">{{ addontask.status.name }}</td>
                        <td scope="col" class="sortable" style="background-color: {{ addontask.status.color }}; word-break: break-all;">{% if addontask.notes %}<div><p class="half-note m-0">{{ addontask.notes|slice:":20" }} <button href="#" class="show-hide-btn">more</button></p><p class="full-note m-0 d-none">{{ addontask.notes }} <button href="#" class="show-hide-btn">less</button></p></div>{% endif %}</td>
                        <td scope="col" class="sortable">
                            {% if addontask.report_link.all %}
                                {% for link in addontask.report_link.all %}
                                    {% if link.link %}
                                        <a href="{{ link.link }}" target="_blank">View Report</a>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </td>
                        {% if request.user.is_staff and not white_label %}
                            <td scope="col" class="sortable"><a class="btn btn-primary btn-sm" style="min-width: 95px; width: 100%;" href="#" role="button" data-toggle="modal" data-target="#taskModalA{{ addontask.id }}">Manage task</a></td>
                        {% endif %}
                    </tr>
                    <tr scope="col"><td><p></p></td><td></td><td></td><td></td><td></td><td></td>{% if request.user.is_staff and not white_label %}<td></td>{% endif %}</tr>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% if not white_label %}
{% for t in task %}
<div class="modal fade" id="taskModalP{{ t.id }}" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width: 700px;">
        <div class="modal-content">
            <div class="modal-header">

                <ul class="nav nav-tabs" id="myTab{{ t.id }}" role="tablist">
                    <li class="nav-item" role="presentation">
                      <a class="nav-link active" id="home-tab{{ t.id }}" data-toggle="tab" href="#home{{ t.id }}" role="tab" aria-controls="home{{ t.id }}" aria-selected="true">{{ t.template_task.title }}</a>
                    </li>
                    <li class="nav-item" role="presentation">
                      <a class="nav-link" id="profile-tab{{ t.id }}" data-toggle="tab" href="#profile{{ t.id }}" role="tab" aria-controls="profile{{ t.id }}" aria-selected="false">Order</a>
                    </li>
                  </ul>

                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="tab-content" id="myTabContent{{ t.id }}">

                    <div class="tab-pane fade show active" id="home{{ t.id }}" role="tabpanel" aria-labelledby="home-tab{{ t.id }}">
                        <form method="POST" id="pform{{ t.id }}" action="/dashboard/admin/{{ order.id }}/deliverables/task/{{ t.id }}/">
                            {% csrf_token %}

                                <div class="form-group col-12 mb-4">
                                {% if t.report_link.all|length > 0 %}
                                    {% for link in t.report_link.all %}
                                        {% if link.link %}
                                            <label class="text ml-1" for="report_link">Report link:</label>
                                            <input type="url" class="form-control mb-2" name="report_link_modal" id="report_link" value="{{ link.link }}">
                                        {% endif %}
                                    {%endfor%}
                                {% else %}
                                    <label class="text ml-1" for="report_link">Report link:</label>
                                    <input type="url" class="form-control mb-2" name="report_link_modal" id="report_link">
                                {% endif %}
                                <button class="fformaddlink btn btn-primary ml-auto" data-task="{{t.id}}">Add link</button>
                                </div>

                                <div class="form-group col-12 mb-4">
                                    <label class="text ml-1" for="select-tasks">Tasks:</label>
                                    <select name="addtasks" id="select-tasks" class="form-control" multiple>
                                        {% for x in task %}
                                        {% if x.month == t.month and x.id != t.id %}
                                        <option value="{{ x.id }}" >{{ x.template_task.title }}</option>
                                        {% endif %}
                                        {% endfor %}
                                        {% for ad in addons %}
                                        {% for adt in ad.tasks.all %}
                                        {% if adt.month == t.month %}
                                        <option value="{{ adt.id }}" >{{ adt.template_task.title }}</option>
                                        {% endif %}
                                        {% endfor %}
                                        {% endfor %}
                                    </select>
                                    <small style="color: #365ccd;">Press CTRL to select multiple addons or to cancel selection</small>
                                </div>

                                <div class="form-group col-12 mb-4">
                                
                                    <label class="text ml-1" for="select-status">Status:</label>
                                    <select name="status" id="select-status" class="form-control" required>
                                        {% for status in statuses %}
                                        <option value="{{ status.id }}" {% if status.id == t.status.id %}selected="selected"{%elif status.name == 'In progress'%}selected{% endif %}>{{ status.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="form-group col-12 mb-4">
                                    
                                    <label class="text ml-1" for="start">Start date:</label>
                                    <input type="date" class="form-control mb-2" name="start_date" id="task_start_{{t.id}}" value="{{ t.start_date|date:'Y-m-d' }}">

                                    <label class="text ml-1" for="end">Due date:</label>
                                    <input type="date" class="form-control mb-2" name="end_date" id="task_end_{{t.id}}" value="{{ t.end_date|date:'Y-m-d' }}">
                                </div>

                                <div class="form-group col-12 mb-4">
                                    <label class="text ml-1" for="note">Note:</label>
                                    <textarea class="form-control mb-2" name="note" id="note">{{ t.notes }}</textarea>
                                </div>

                                <div class="modal-footer" style="display: flex; justify-content: center; align-items: center;">
                                    <button type="submit" class="btn text btn-primary" id="buttpform{{ t.id }}" form="pform{{ t.id }}">Submit</button>
                                    <button class="btn text btn-primary" type="button" data-dismiss="modal">Cancel</button>
                                </div>
                        </form>
                    </div>

                    <div class="tab-pane fade" id="profile{{ t.id }}" role="tabpanel" aria-labelledby="profile-tab{{ t.id }}" style="min-height: 707px;">
                        <select name="theforms" class="custom-select fformselect mb-2">
                            <option value="" disabled selected>Select form</option>
                            {% for form in forms %}
                            <option value="customform{{ t.id }}-{{ form.id }}">{{ form.title }}</option>
                            {% endfor %}
                        </select>

                        <div class="form-forms">
                        {% for form in forms %}
                        <form method="POST" action="/dashboard/admin/{{ order.id }}/deliverables/form/{{ form.id }}/" id="customform{{ t.id }}-{{ form.id }}" style="display: none;">
                            {% csrf_token %}

                            <div class="form-group card col-12 p-1">
                            {% for itemorder in form.orderinfos|get_item:'orderinfos' %}
                                <label for="">{{ itemorder|remove_underscore }}</label>
                                <input type="text" class="form-control" name="{{ itemorder }}" value="{{ order|get_attr:itemorder }}">
                            {% endfor %}
                            </div>

                            {% for formitem in form.data %}
                            {% with ft=form.data|get_item:formitem %}
                            {% if ft.type == 0 %}
                                <div class="form-group card col-12 p-1">
                                    <label for="">{{ ft.title }}</label>
                                    <input type="text" class="form-control" name="{{ form.id}}:{{ formitem }}">
                                </div>
                            {% elif ft.type == 1 %}
                                <div class="form-group card col-12 p-1">
                                    <label for="">{{ ft.title }}</label>
                                    {% for x in ft.items %}
                                    <div class="form-check col-12">
                                        <input type="checkbox" class="form-check-input" name="{{ form.id}}:{{ formitem }}" value="{{ x }}">
                                        <label for="">{{ x }}</label>
                                    </div>
                                    {% endfor %}
                                </div>
                            {% elif ft.type == 2 %}
                            <div class="form-group card col-12 p-1">
                            <label for="">{{ ft.title }}</label>
                            {% for x in ft.items %}
                            <div class="form-check col-12">
                                <input type="radio" class="form-radio-input" name="{{ form.id}}:{{ formitem }}" value="{{ x }}">
                                <label for="">{{ x }}</label>
                            </div>
                            {% endfor %}
                            </div>
                            {% elif ft.type == 3 %}
                            <div class="form-group card col-12 p-1">
                                <label for="">{{ ft.title }}</label>
                                <textarea name="{{form.id}}:{{formitem}}" class="form-control" rows="3"></textarea>
                            </div>
                            {% elif ft.type == 4 %}
                            <div class="form-group col-12 mb-4">
                                <label for="">{{ ft.title }}</label>
                                <div class="col-12 p-0">
                                    <select name="{{form.id}}:{{formitem}}" class="form-control">
                                        {% for x in ft.items %}
                                            <option value="{{ x }}">{{ x }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            {% endif %} 
                            {% endwith %}
                            {% endfor %}
                            <div class="form-group col-12 p-1">
                                <label>Note:</label>
                                <textarea name="formnote" class="form-control" rows="3"></textarea>
                            </div>

                            <button type="submit" class="btn text btn-primary" form="customform{{ t.id }}-{{ form.id }}">Submit</button>
                        </form>
                        {% endfor %}
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
{% endfor %}
{% for addon in addons %}
{% for addontask in addon.tasks.all %}
<div class="modal fade" id="taskModalA{{ addontask.id }}" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width: 700px;">
        <div class="modal-content">
            <div class="modal-header">

                <ul class="nav nav-tabs" id="amyTab{{ addontask.id }}" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="ahome-tab{{ addontask.id }}" data-toggle="tab" href="#ahome{{ addontask.id }}" role="tab" aria-controls="ahome{{ addontask.id }}" aria-selected="true">{{ addontask.template_task.title }}</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="aprofile-tab{{ addontask.id }}" data-toggle="tab" href="#aprofile{{ addontask.id }}" role="tab" aria-controls="aprofile{{ addontask.id }}" aria-selected="false">Send</a>
                    </li>
                </ul>

                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="tab-content" id="amyTabContent{{ addontask.id }}">

                    <div class="tab-pane fade show active" id="ahome{{ addontask.id }}" role="tabpanel" aria-labelledby="ahome-tab{{ addontask.id }}">
                        <form method="POST" id="aform{{ addontask.id }}" action="/dashboard/admin/{{ order.id }}/deliverables/task/{{ addontask.id }}/">
                            {% csrf_token %}

                                <div class="form-group col-12 mb-4">
                                    <label class="text ml-1" for="start">Start date:</label>
                                    <input type="date" class="form-control mb-2" name="start_date" id="addontask_start_{{addontask.id}}" value="{{ addontask.start_date|date:'Y-m-d' }}">

                                    <label class="text ml-1" for="end">Due date:</label>
                                    <input type="date" class="form-control mb-2" name="end_date" id="addontask_end_{{addontask.id}}" value="{{ addontask.end_date|date:'Y-m-d' }}">
                                </div>

                                <div class="form-group col-12 mb-4">
                                
                                    <label class="text ml-1" for="select-status">Status:</label>
                                    <select name="status" id="select-status" class="form-control" required>
                                        {% for status in statuses %}
                                        <option value="{{ status.id }}" {% if status.id == addontask.status.id %}selected="selected"{% endif %}>{{ status.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="form-group col-12 mb-4">
                                    <label class="text ml-1" for="select-tasks">Tasks:</label>
                                    <select name="addtasks" id="select-tasks" class="form-control" multiple>
                                        {% for x in task %}
                                        {% if x.month == addontask.month %}
                                        <option value="{{ x.id }}" >{{ x.template_task.title }}</option>
                                        {% endif %}
                                        {% endfor %}
                                        {% for ad in addons %}
                                        {% for adt in ad.tasks.all %}
                                        {% if adt.month == addontask.month and adt.id != addontask.id %}
                                        <option value="{{ adt.id }}" >{{ adt.template_task.title }}</option>
                                        {% endif %}
                                        {% endfor %}
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="form-group col-12 mb-4">
                                    {% if addontask.report_link.all|length > 0 %}
                                        {% for link in addontask.report_link.all %}
                                            {% if link.link %}
                                            <label class="text ml-1" for="report_link">Report link:</label>
                                            <input type="url" class="form-control mb-2" name="report_link_modal" id="report_link" value="{{ link.link }}">
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        <label class="text ml-1" for="report_link">Report link:</label>
                                        <input type="url" class="form-control mb-2" name="report_link_modal" id="report_link">
                                    {% endif %}
                                    <label class="text ml-1" for="note">Note:</label>
                                    <textarea class="form-control mb-2" name="note" id="note">{{ addontask.notes }}</textarea>
                                </div>

                                <div class="modal-footer" style="display: flex; justify-content: center; align-items: center;">
                                    <button type="submit" class="btn text btn-primary" id="buttaform{{ addontask.id }}" form="aform{{ addontask.id }}">Submit</button>
                                    <button class="btn text btn-primary" type="button" data-dismiss="modal">Cancel</button>
                                </div>
                        </form>
                    </div>

                    <div class="tab-pane fade" id="aprofile{{ addontask.id }}" role="tabpanel" aria-labelledby="aprofile-tab{{ addontask.id }}">
                        <select name="theforms" class="custom-select fformselect mb-2">
                            <option value=""></option>
                            {% for form in forms %}
                            <option value="customform{{ addontask.id }}-{{ form.id }}">{{ form.title }}</option>
                            {% endfor %}
                        </select>

                        <div class="form-forms">
                            {% for form in forms %}
                            <form method="POST" action="/dashboard/admin/{{ order.id }}/deliverables/form/{{ form.id }}/" id="customform{{ addontask.id }}-{{ form.id }}" style="display: none;">
                                {% csrf_token %}

                                <div class="form-group card col-12 p-1">
                                {% for itemorder in form.orderinfos|get_item:'orderinfos' %}
                                    <label for="">{{ itemorder|remove_underscore }}</label>
                                    <input type="text" class="form-control" name="{{ itemorder }}" value="{{ order|get_attr:itemorder }}">
                                {% endfor %}
                                </div>

                                {% for formitem in form.data %}
                                {% with ft=form.data|get_item:formitem %}
                                {% if ft.type == 0 %}
                                    <div class="form-group card col-12 p-1">
                                        <label for="">{{ ft.title }}</label>
                                        <input type="text" class="form-control" name="{{ form.id}}:{{ formitem }}">
                                    </div>
                                {% elif ft.type == 1 %}
                                    <div class="form-group card col-12 p-1">
                                        <label for="">{{ ft.title }}</label>
                                        {% for x in ft.items %}
                                        <div class="form-check col-12">
                                            <input type="checkbox" class="form-check-input" name="{{ form.id}}:{{ formitem }}" value="{{ x }}">
                                            <label for="">{{ x }}</label>
                                        </div>
                                        {% endfor %}
                                    </div>
                                {% elif ft.type == 2 %}
                                <div class="form-group card col-12 p-1">
                                <label for="">{{ ft.title }}</label>
                                {% for x in ft.items %}
                                <div class="form-check col-12">
                                    <input type="radio" class="form-radio-input" name="{{ form.id}}:{{ formitem }}" value="{{ x }}">
                                    <label for="">{{ x }}</label>
                                </div>
                                {% endfor %}
                                </div>
                                {% endif %}
                                {% endwith %}
                                {% endfor %}
                                <div class="form-group col-12 p-1">
                                    <label>Note:</label>
                                    <textarea name="formnote" class="form-control" rows="3"></textarea>
                                </div>
                                
                                <button type="submit" class="btn text btn-primary" form="customform{{ addontask.id }}-{{ form.id }}">Submit</button>
                            </form>
                            {% endfor %}
                            </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endfor %}
{% endif %}
{% endlanguage %}
{% endblock %}
{% block extra_script %}
{% load static %}
<script src="{% static "/js/deliverablesforms.js"%}"></script>
{% endblock %}