{% extends 'dashboard.html' %}
{% block extra_head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "/vendor/datatables/dataTables.bootstrap4.min.css"%}">
{% endblock %}
{% block content %}
{% load i18n %}
{% language 'en' %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">My orders</h1>
    <a class="btn btn-outline-primary" href="/dashboard/user/create" role="button">Create order</a>
</div>

<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table id="dataTable" width="100%" cellspacing="0" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th scope="col" class="sortable">Order #</th>
                        <th scope="col" class="sortable">Company name</th>
                        <th scope="col" class="sortable">Status</th>
                        <th scope="col" class="sortable">Package</th>
                        <th scope="col" class="sortable">Addon</th>
                        <th scope="col" class="sortable">Actions</th>
                    </tr>
                </thead>
                
                <tbody>
                    {% for order in orders %}
                    <tr>
                        <td scope="col" class="sortable">{{ order.order }}</td>
                        <td scope="col" class="sortable">{{ order.company_name }}</td>
                        <td scope="col" class="sortable">{% if order.status.name == None %}{%else%}<span style="display: block; background-color: {{ order.status.color }};">{{ order.status.name }}</span>{% endif %}</td>
                        <td scope="col" class="sortable">{% if order.package == None %}{%else%}<span style="display: block; background-color: {{ order.package.template.color }};">{{ order.package }}</span>{% endif %}</td>
                        <td scope="col" class="sortable">{% if order.addon == None %}{%else%}{% for add in order.addon.all %}<span style="display: block; margin: 1px; background-color: {{ add.template.color }};">{{ add.template.title }}</span>{% endfor %}{% endif %}</td>
                        <td scope="col" class="sortable">
                            <a href="/dashboard/user/edit/{{ order.id }}/" title="Edit this order">
                                <i class="fa fa-pencil-alt"></i>
                            </a>
                            <a href="/dashboard/admin/{{ order.id }}/deliverables/" title="Deliverables page" class="mr-1">
                                <i class="fa fa-file"></i>
                            </a>
                            <a href="/dashboard/chatroom/{{ order.id }}/" title="Messages" class="{% if order.id in unread_messages %} text-danger{% endif %}">
                                <i class="fa fa-envelope"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                
            </table>
        </div>
    </div>
</div>
{% endlanguage %}
{% endblock %}
{% block extra_script %}
{% load static %}
<script src="{% static "/vendor/datatables/jquery.dataTables.min.js"%}"></script>
<script src="{% static "/vendor/datatables/dataTables.bootstrap4.min.js"%}"></script>
<script src="{% static "/js/datatables.js"%}"></script>
{% endblock %}