{% extends 'dashboard.html' %}
{% block content %}
{% load i18n %}
{% language 'en' %}
{% block extra_head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "/css/profile.css"%}">
{% endblock %}
<div class="col-7 d-sm-flex align-items-center justify-content-betwen mb-4">
  <h1 class="h3 mb-0 text-gray-800">Profile</h1>
</div>

<div class="row align-items-center justify-content-center">
    <div class="col-lg-6 col-md-10 col-sm-12">
        <div class="card shadow mb-4">
            <div class="row">
                <div class="col-12 mt-3">
                    <form method="POST" name="editProfile" enctype="multipart/form-data" action="">
                    {% csrf_token %}

                        <div class="form-group col-12">
                            <label class="text" for="first_name">First name:</label>
                            <input type="text" class="form-control" name="first_name" value="{{ request.user.first_name }}" id="first_name">
                        </div>

                        <div class="form-group col-12">
                            <label class="text" for="last_name">Last name:</label>
                            <input type="text" class="form-control" name="last_name" value="{{ request.user.last_name }}" id="last_name" >
                        </div>

                        <div class="form-group col-12">
                            <label class="text">Email:</label>
                            <input type="text" class="form-control" value="{{ request.user.email }}" disabled>
                            <p class="text font-weight-light mt-1 ml-1"><small>You can change <a class="" href="" data-toggle="modal" data-target="#editPassword">password</a></small></p>
                        </div>

                        <div class="form-group col-12 profile-image-container">
                            <label for="formFile" class="form-label">Profile image:</label>
                            <div class="row">
                                <div class="form-group col-12">
                                    <img class="profile-image-preview" src="{{ request.user.profile_image.url }}" alt="profile_image" width="250px" height="250px" id='img-upload1'>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-12 profile-image-btns">
                                    <span class="input-group-btn">
                                        <span class="btn btn-primary btn-file"><i class="fa fa-upload"></i><input type="file" id="imgInp1" name="profile_image">
                                        </span>
                                    </span>
                                    <a class="btn btn-danger delete-link" href="/dashboard/profile/deleteImg"><i class="fa fa-times"></i></a>
                                </div>
                            </div>
                        </div>

                        {% if request.user.is_staff %}

                        <div class="form-group col-12 mt-5">
                            <label class="text" for="agency_name">Agency name:</label>
                            <input type="text" class="form-control" name="agency_name" value="{{ request.user.agency.first.name }}" id="agency_name" >
                        </div>

                        <div class="form-group col-12 profile-image-container">
                            <label for="formFile" class="form-label">Agency logo:</label>
                            <div class="row">
                                <div class="form-group col-12">
                                    <img class="profile-image-preview" {% if request.user.agency.first.logo %}src="{{ request.user.agency.first.logo.url }}"{% endif %}alt="agency_logo" width="250px" height="250px" id='img-upload2' {% if not request.user.agency.first.logo %}style="opacity:0; height:0;"{%endif%}>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-12 profile-image-btns">
                                    <span class="input-group-btn">
                                        <span class="btn btn-primary btn-file"><i class="fa fa-upload"></i><input type="file" id="imgInp2" name="agency_logo">
                                        </span>
                                    </span>
                                    <a class="btn btn-danger delete-link" href="deleteAgencyLogo"><i class="fa fa-times"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-12 mb-4 mt-5">
                            <label class="text ml-1" for="apikey">Zapier API Key:</label>
                            <input type="text" class="form-control mb-2" name="apikey" id="apikey" value="{{ request.user.key.first.apikey }}">
                        </div>
                        {% endif %}

                        <div class="form-group col-12">
                            <label class="text">Notes</label>
                            <textarea type="text" class="form-control" name="notes" style="height: 120px;">{{ request.user.notes|default_if_none:"" }}</textarea>
                        </div>

                        <button type="submit" class="btn text btn-outline-primary ml-3 mt-2 mb-5" name="editProfile" value="True">Update</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editPassword" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Change password</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <div class="modal-body">
                <form method="POST" name="editPassword" action="">
                {% csrf_token %}
                    <div class="form-group">
                        <label class="text" for="id_password1">New password</label>
                        <input type="password" minlength="6" class="form-control inputs" name="password" autocomplete="new-password" required id="id_password1" aria-autocomplete="list">
                    </div>

                    <div class="form-group">
                        <label class="text" for="id_password2">Repeat password</label>
                        <input type="password" minlength="6" class="form-control inputs" name="password" autocomplete="new-password" required id="id_password2" aria-autocomplete="list">
                    </div>
                    <p class="text font-weight-light mt-1 ml-1"><small>Min lenght: 6</small></p>
                    <button type="submit" class="btn text btn-outline-primary" name="editPassword" value="True">Change password</button>
                </form>
            </div>

        </div>
    </div>
</div>
{% endlanguage %}
{% endblock %}
{% block extra_script %}
{% load static %}
<script src="{% static "/js/matchpassword.js"%}"></script>
<script src="{% static "/js/profile.js"%}"></script>
{% endblock %}