{% extends 'home/wrapper.html' %}
{% block content %}
<section class="section">
    <div class="video-section">
        <div class="video-text_wrapper">
            
            <h1 class="video-text_title">
                Scale Your Marketing Agency With Seamless Campaign Management
            </h1>
            <p class="video-text">
                Organize your entire workflow, keep all communication in one place and provide exceptional client service with a single project management platform
            </p>
            <br>
            <p class="video-text"><a href="#" class="nav-list_link"><button class="nav-list_button">Get Started</button></a></p>
        </div>
        
    </div>
</section>
<section class="section">
    <div class="cards-wrapper">
        <a href="#" class="card">
            <h4 class="card-name">
                SEO & Marketing Agencies
            </h4>
            <p class="card-text">
                Improve your workflow with a centralized agency dashboard
            </p>
        </a>
        <a href="#" class="card">
            <h4 class="card-name">
                White-Label SEO Companies
            </h4>
            <p class="card-text">
                Automate task fulfillment and provide transparent white-label reports
            </p>
        </a>
        <a href="#" class="card">
            <h4 class="card-name">
                Freelancers & Small Teams
            </h4>
            <p class="card-text" id="features">
                Manage more clients with less efforts
            </p>
        </a>
    </div>
</section>
<section class="section">
    <span ></span>
    <div class="query-wrapper">
        <div class="query-text_wrapper">                   
            <h2 class="query-text_head">Features</h2>
            <ul class="query-text_list">
                <li class="query-list_item">Personalize your agency account around your brand</li>
                <li class="query-list_item">Build custom packages & addons</li>
                <li class="query-list_item">Perfect client onboarding with custom intake forms & personal client dashboard</li>
                <li class="query-list_item">Manage & track work fulfillment with monthly deliverables</li>
                <li class="query-list_item">Provide clients with transparent task reports</li>
                <li class="query-list_item">Keep all project communication in one place</li>
                <li class="query-list_item">Integrate with other apps to automate & improve your workflow</li>
                <li class="query-list_item">Scale your agency with seamless campaign management</li>
            </ul>
        </div>
        <div class="query-image_wrapper">
            <img src="./images/scr1.png" alt="query-image" class="query-image">
        </div>
    </div>
</section>
<section class="section">
    <div class="work-wrapper">
        <div class="work-head">
            <h3 class="work-head_title">
                How Does It Work?
            </h3>
            <p class="work-head_text">
                Follow these steps to get started
            </p>
        </div>
        <div class="work-boxes_wrapper">
            <div class="work-boxes-column">
                <div class="column-box_wrapper" data-src="./images/intake-form.png">
                    <div class="column-image_wrapper">
                        <img src="./images/011.png" alt="column-image" class="column-image">
                    </div>
                    <p class="column-name">
                        Create & Setup Your Agency Account
                    </p>
                    <p class="column-text">
                        Create tasks and combine them into packages (services) you provide. Build custom intake forms
                        to collect and store the necassary information from clients
                    </p>
                </div>
                <div class="column-box_wrapper" data-src="./images/inv-client.png">
                    <div class="column-image_wrapper">
                        <img src="./images/02.png" alt="column-image" class="column-image">
                    </div>
                    <p class="column-name">
                        Invite Clients to Their Personal Dashboard
                    </p>
                    <p class="column-text">
                        Send invitation email to add clients to their personal order management platform
                    </p>
                </div>
                <div class="column-box_wrapper" data-src="./images/del.png">
                    <div class="column-image_wrapper">
                        <img src="./images/03.png" alt="column-image" class="column-image">
                    </div>
                    <p class="column-name">
                        Automate & Scale Work Fulfillment
                    </p>
                    <p class="column-text">
                        Connect Searchmanager Pro with your tool stack to automate the entire workflow and scale fulfillment
                    </p>
                </div>
                <div class="column-box_wrapper" data-src="./images/rep.png">
                    <div class="column-image_wrapper">
                        <img src="./images/04.png" alt="column-image" class="column-image">
                    </div>
                    <p class="column-name">
                        Present Transparent Task Reports
                    </p>
                    <p class="column-text">
                        Build trust and transparency with your clients by allowing your them to access task deliverables anytime from their client dashboard
                    </p>
                </div>
            </div>
            <div class="work-boxes_image">
                <img id="showImg" src="./images/q.png" alt="box image" class="boxes-image">
            </div>
            <div class="work-boxes-column">

            </div>
        </div>
    </div>
</section>
<section class="section" style="display:none!important">
    <div class="customer-wrapper">
        <div class="customer-slide" data-dot-img="./images/customer1.jpg">
            <div class="customer-info">
                <div class="customer-image_wrapper">
                    <img src="./images/customer1.jpg" alt="customer-image" class="customer-image">
                </div>
                <div class="customer-name_card">
                    <p class="customer-name">
                        Ahmad Kanani
                    </p>
                    <p class="customer-work">
                        Founder, Siviak Agency
                    </p>
                </div>
            </div>
            <div class="customer-text">
                <h2 class="customer-title">
                    Customer stories
                </h2>
                <p class="customer-subtitle">
                    How moving to BigQuery has subtly but momentously improved lives.
                </p>
                <p class="customer-quote">
                    "Moving into BigQuery in this way was a turning point, and when I look back at it, it was a good decision.”
                </p>
                <a href="#" class="customer-link">Continue Reading</a>
            </div>
        </div>
        <div class="customer-slide" data-dot-img="./images/customer2.jpg">
            <div class="customer-info">
                <div class="customer-image_wrapper">
                    <img src="./images/customer2.jpg" alt="customer-image" class="customer-image">
                </div>
                <div class="customer-name_card">
                    <p class="customer-name">
                        Drew Sanocki
                    </p>
                    <p class="customer-work">
                        Founder, Growth Engines
                    </p>
                </div>
            </div>
            <div class="customer-text">
                <h2 class="customer-title">
                    Customer stories
                </h2>
                <p class="customer-subtitle">
                    How moving to BigQuery has subtly but momentously improved lives.
                </p>
                <p class="customer-quote">
                    "Why attract more bad customers to your business?"
                </p>
                <a href="#" class="customer-link">Continue Reading</a>
            </div>
        </div>
        <div class="customer-slide" data-dot-img="./images/customer3.jpeg">
            <div class="customer-info">
                <div class="customer-image_wrapper">
                    <img src="./images/customer3.jpeg" alt="customer-image" class="customer-image">
                </div>
                <div class="customer-name_card">
                    <p class="customer-name">
                        Scott Zakrajsek
                    </p>
                    <p class="customer-work">
                        Partner, Sproutward Agency
                    </p>
                </div>
            </div>
            <div class="customer-text">
                <h2 class="customer-title">
                    Customer stories
                </h2>
                <p class="customer-subtitle">
                    How moving to BigQuery has subtly but momentously improved lives.
                </p>
                <p class="customer-quote">
                    “What we saw from CIFL was a clear and approachable way to get into a BigQuery stack"
                </p>
                <a href="#" class="customer-link">Continue Reading</a>
            </div>
        </div>
    </div>
</section>
<section class="section" style="display:none!important">
    <div class="recipes-wrapper">
        <div class="recipes-title">
            <h2 class="recipes-title_text">
                Feast on sample “Recipes”
            </h2>
            <p class="recipes-subtitle">
                Recipes are micro-pipelines we publish to solve a specific problem.
            </p>
        </div>
        <div class="recipes-slider">
            <div class="slider-card_wrapper">
                <a href="#" class="slider-card">
                    <div class="slider-card-image_wrapper">
                        <img src="./images/slider-card-img1.png" alt="slider card image" class="slider-card-image">
                    </div>
                    <div class="slider-card-button_wrapper">
                        <div class="slider-card-button">
                            eCommerce
                        </div>
                    </div>
                    <div class="slider-card-text_wrapper">
                        <div class="slider-card-text">
                            <h4 class="slider-card_title">
                                Shopify Price + Product Updater
                            </h4>
                            <p class="slider-card_subtitle">
                                Update your Shopify store products within Google Sheets, without ...		
                            </p>
                        </div>
                        <div class="slider-card_action">
                            <h4 class="slider-card_calltoaction">
                                Free
                            </h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="slider-card_wrapper">
                <a href="#" class="slider-card">
                    <div class="slider-card-image_wrapper">
                        <img src="./images/slider-card-img2.png" alt="slider card image" class="slider-card-image">
                    </div>
                    <div class="slider-card-button_wrapper">
                        <div class="slider-card-button">
                            SEO
                        </div>
                    </div>
                    <div class="slider-card-text_wrapper">
                        <div class="slider-card-text">
                            <h4 class="slider-card_title">
                                Meta Tag Rewrite Checker
                            </h4>
                            <p class="slider-card_subtitle">
                                Quickly find out which of your pages need new titles and meta tag...
                            </p>
                        </div>
                        <div class="slider-card_action">
                            <h4 class="slider-card_calltoaction">
                                Free
                            </h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="slider-card_wrapper">
                <a href="#" class="slider-card">
                    <div class="slider-card-image_wrapper">
                        <img src="./images/slider-card-img3.png" alt="slider card image" class="slider-card-image">
                    </div>
                    <div class="slider-card-button_wrapper">
                        <div class="slider-card-button">
                            Ops
                        </div>
                    </div>
                    <div class="slider-card-text_wrapper">
                        <div class="slider-card-text">
                            <h4 class="slider-card_title">
                                Project Management in Google Sheets
                            </h4>
                            <p class="slider-card_subtitle">
                                A custom solution for SEO agencies, fully customizable to meet yo...
                            </p>
                        </div>
                        <div class="slider-card_action">
                            <h4 class="slider-card_calltoaction">
                                Free
                            </h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="slider-card_wrapper">
                <a href="#" class="slider-card">
                    <div class="slider-card-image_wrapper">
                        <img src="./images/slider-card-img4.png" alt="slider card image" class="slider-card-image">
                    </div>
                    <div class="slider-card-button_wrapper">
                        <div class="slider-card-button">
                            SEO
                        </div>
                    </div>
                    <div class="slider-card-text_wrapper">
                        <div class="slider-card-text">
                            <h4 class="slider-card_title">
                                Keyword Progression Tracker
                            </h4>
                            <p class="slider-card_subtitle">
                                Track how your keyword rankings progress over the life of an SEO ...
                            </p>
                        </div>
                        <div class="slider-card_action">
                            <h4 class="slider-card_calltoaction">
                                Free
                            </h4>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="section" style="display:none!important">
    <div class="cost-wrapper">
        <div class="cost-list">
            <div class="cost-title">
                How much do data pipelines cost?
            </div>
            <p class="cost-subtitle">
                Our pipelines are a done-for-you data analysis and reporting service. Before you request a full quote, please review the pricing specs below:
            </p>
            <ul class="cost-list">
                <li class="cost-list_item">
                    We build custom pipeline "Recipes" in 3-week development sprints. Each sprint costs $6,250.
                </li>
                <li class="cost-list_item">
                    Most clients will build approximately 4-5 recipes as part of a pipeline, for a total development cost of ~$25,000.
                </li>
                <li class="cost-list_item">
                    After development is complete, CIFL can maintain your pipeline + offer analysis advisory for $3k per month, depending on needs.
                </li>
            </ul>
            <div class="cost-text">
                Crucially, since we've built dozens of pipelines, we know precisely *how* we'll build yours before we write a line of code.  We get straight to business.
            </div>
        </div>
        <div class="cost-table">
            <table class="table">
                <thead class="thead">
                    <tr class="head-row">
                        <td class="head-column head-bh">PIPELINE ELEMENTS</td>
                        <td class="head-column row">INCLUDED?</td>
                    </tr>
                </thead>
                <tbody class="tbody">
                    <tr class="body-row">
                        <td class="body-column row">Dedicated analyst</td>
                        <td class="body-column row"><img src="./images/check-list.png" alt="" class="table-image"></td>
                    </tr>
                    <tr class="body-row">
                        <td class="body-column row">Unified BigQuery warehouse</td>
                        <td class="body-column row"><img src="./images/check-list.png" alt="" class="table-image"></td>
                    </tr>
                    <tr class="body-row">
                        <td class="body-column row">SQL data models built in dbt</td>
                        <td class="body-column row"><img src="./images/check-list.png" alt="" class="table-image"></td>
                    </tr>
                    <tr class="body-row">
                        <td class="body-column">Reporting in Data Studio, or your preferred platform</td>
                        <td class="body-column"><img src="./images/check-list.png" alt="" class="table-image"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<section class="section">
    <div class="cook-wrapper">
        <div class="cook-text">
            <h2 class="cook-title">
                Ready to scale your agency?
            </h2>
            <p class="cook-subtitle">
                Get started now or contact us if you have any questions!    
            </p>
            <a href="#" class="cook-link"><button class="cook-button">Get in Touch</button></a>
        </div>
        <div class="cook-image_wrapper">
            <img src="./images/person.png" alt="cook-image" class="cook-image">
        </div>
    </div>
</section>
{% endblock content %}
