{% extends 'base.html' %}

{% block auth %}
{% load i18n %}
{% language 'en' %}
<section class="crm-login">
  <div class="crm-login__bg"></div>
  <div class="crm-login__form-container">
    <form method="POST" class="crm-login__form" action="">
      {% csrf_token %}
      <div class="crm-login__form-header">Reset password</div>

      <div class="crm-login__form-group">
        <label class="crm-login__form-label" for="">E-mail</label>
        <input class="crm-login__form-input" type="email" name="email" autocapitalize="off" autocorrect="off" autocomplete="email"
          autofocus="autofocus" required>
      </div>

      <button class="crm-login__form-submit" type="submit">Reset password <i class="fas fa-arrow-right"></i></button>
    </form>
    <div class="crm-login__form-nav">
      <a href="/login" class="crm-login__form-forgot">Go to sign-in</a>
    </div>
  </div>
</section>
{% endlanguage %}
{% endblock %}